:root {
  --our-yellow: #f7b91c;
  --our-yellowDark: #b9912a;
  --our-main-font-color: #5b5b5b;
  --our-blue: #60a5fa;
}

.App {
  text-align: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ACCUEIL CSS*/

.wave-container {
  box-sizing: border-box;
  position: relative;
  background-image: url(../pictures/Graduation.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.wave-container::before,
.wave-container::after {
  box-sizing: inherit;
}

.wave-container > svg {
  display: block;
}

.backgroundMainDiv {
  background-image: url("../svg/backgroundAcceuil.svg");
  background-size: cover;
}

.backgroundLinearGradientYellow {
  background-image: linear-gradient(to right, #F4D482, #F2BB2E);
}

.mainButton {
  background-color: var(--our-yellow);
  font-size: x-large;
}

.mainButton:hover {
  background-color: #d6a21e;
}

.mainButton > a {
  text-shadow: 0px 3px 8px #666666;
}

.presentationButton {
  transition: all 0.2s ease-in-out;
  box-shadow: #f1d792 0px 0px 40px;
}

.presentationButton:hover {
  transform: scale(1.1);
  box-shadow: #f0c756 0px 0px 40px;
}

.textPresentation {
  box-shadow: #f1d792 0px 0px 40px;
}

/* GROUPE TRAVAIL CSS*/

.buttonAddNewGrWork {
  background-color: #60c39f;
  font-size: x-large;
}

.buttonAddNewGrWork:hover {
  background-color: #27c088;
}

.grButton {
  border-radius: 10px;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.25);
}

.popUpEffect {
  transition: all 0.2s ease-in-out;
}

.popUpEffect:hover {
  transform: scale(1.03);
}

.greyBox {
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3) inset;
  background-color: rgba(196, 196, 196, 0.22);
  border-radius: 12px;
}

/* NOUVEAU GROUPE DE TRAVAIL */

.newGroupResearchDiv {
  background-color: white;
  box-shadow: 1px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.buttonCancelNewGrWork {
  background-color: #c36060;
  font-size: x-large;
}

.buttonCancelNewGrWork:hover {
  background-color: #c02727;
}

/* COLORS */

.ourYellow {
  color: var(--our-yellow);
}
.ourYellowDark {
  color: var(--our-yellowDark);
}

.ourYellowBg {
  background-color: var(--our-yellow);
}


.ourMainFontColor {
  color: var(--our-main-font-color);
}

input {
  width: 25ch;
}

.smallerInput {
  width: 20ch;
}

.mobileNavBar {
  transition: height ease-out 750ms;
}

.bgGrey {
  background-color: #ececec;
}

@media (max-width: 768px) {
  input {
    width: 90%;
  }
  .smallerInput {
    width: 80%;
  }
}
