.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ACCUEIL CSS*/

.wave-container {
  box-sizing: border-box;
  position: relative;
  background-image: url(./components/Graduation.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.wave-container::before, .wave-container::after {
  box-sizing: inherit;
}

.wave-container > svg {
  display: block;
}

.mainButton {
  background-color: #F7B91C;
  font-size: x-large;
}

.mainButton:hover {
  background-color: #d6a21e;
}

.mainButton > a {
  text-shadow: 0px 3px 8px #666666;
}

.presentationButton {
  transition: all .2s ease-in-out;
  box-shadow: #f1d792 0px 0px 40px;

}
.presentationButton:hover {
  transform: scale(1.1);
  box-shadow: #f0c756 0px 0px 40px;
}

.textPresentation {
  box-shadow: #f1d792 0px 0px 40px;
}

/* GROUPE TRAVAIL CSS*/

.buttonAddNewGrWork {
  background-color: #60C39F;
  font-size: x-large;
}

.buttonAddNewGrWork:hover {
  background-color: #27c088;
}

.grButton {
  transition: all .2s ease-in-out;
  border-radius: 10px;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.25);

}
.grButton:hover {
  transform: scale(1.03);
}

.greyBox {
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3) inset;
  background-color : rgba(196, 196, 196, 0.22);
  border-radius : 12px
}


/* COLORS */

.ourYellow {
  color: #F7B91C;
}